<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2020/blob/master/day1/intro_python_lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 #  Python Programming
##  Summer Workshop 2020

## LSU HPC, LBRN & LONI

##  Kathy Traxler
##   ktraxler@cct.lsu.edu

<a id='top'></a>

<a id='overview'></a>
# Topics Covered
<font color=blue>
 * [What is Python](#intro)
 * [Python programming basics](#data-type)
 * [Control structures and functions](#control)
 * [Python modules](#module)
 * [Numpy](#numpy)
 * [Plotting](#plot)</font>
<br>

<a id='intro'></a>
## What is Python?

 * A general-purpose programming language (1980) by Guido van Rossum
     * https://gvanrossum.github.io
 * Intuitive and minimal coding
 * Objected-Oriented
 * Interpreted not compiled
 * Interactive
 * Dynamically typed, no type declarations, data type is tracked at runtime
 * Automatic memory management
 * Spacing defines blocks of code such as control structures and blocks
  <br>

# Why  Python?

## Advantages
* Ease of programming
 * Minimal time to develop and maintain codes
 * Modular and object-oriented
 * Large standard and user-contributed libraries
 * Large user community
 
## Disadvantages
 * Interpreted and therefore slower than compiled languages
 * Not great for 3D graphic applications requiring intensive computations
  <br>

## What is IPython?

 IPython: an interactive command shell for Python (2001) by Fernando Perez
* Enhanced Read-Eval-Print Loop (REPL) environment
* Command tab-completion, color-highlighted error messages..
* Basic Linux shell integration (cp, ls, rm‚Ä¶)
* Great for plotting!
* More information click _[ipython.org](http://ipython.org)_

## Jupyter Notebook 

* Web interface to Python, introduced in 2015 
* Rich text, improved graphical capabilities
* Integrate many existing web libraries for data visualization
* Allow to create and share documents that contain live code, equations, visualizations and explanatory text. 
* Interface with over 40 languages, such as R, Julia and Scala
* This colab.research.google.com notebook is a Jupyter notebook
[back to top](#top)

## Variables 

* Variable type is dynamically determined from the value it is assigned, no data type is declared
* Assign meaningful variable names
* Some keywords are reserved such as ‚Äòprint‚Äô, ‚Äòassert‚Äô,  ‚Äòwhile‚Äô, ‚Äòlambda‚Äô, for, if. 
* A variable is assigned a value using the ‚Äò=‚Äô operator, example:   x = 3 which is read as "the variable x is assigned the value of 3"
* Reference of [keywords](https://docs.python.org/2.5/ref/keywords.html)

## Operators 

* Arithmetic operators +, -, *, /, // (integer division for  floating point numbers), ‚Äô**‚Äô power
* Boolean operators and, or and not
* Comparison operators >, <, >= (greater or equal), <=
* (less or equal), == equality

**bold text**<a id='data-type'></a>
## Built-in Data Types   
<font color=blue>
* [Number](#numbers)
* [String](#string)
* [List](#list)
* [Tuple](#tuple)
* [Dictionary](#dic)
* [File](#file)    
 </font>
 [top](#top)

<a id='numbers'></a>
## Numbers

In [0]:
x = 3
type(x)

In [0]:
y = 3.0
type (y)

In [0]:
z='hello'
type(z)

In [0]:
int(3.3)

In [0]:
complex(3)

In [0]:
import math

In [0]:
abs(-3.3)

In [0]:
math.sin(60)

In [0]:
math.sqrt(25)


 [top](#top)

<a id='string'></a>
## Strings

In [0]:
my_str = 'Hello World'

In [0]:
print(my_str); len(my_str)

In [0]:
len(my_str); print(len(my_str))

In [0]:
#indexing starting at 0
print(my_str[0]); print(my_str[1]); print(my_str[10])

In [0]:
#string slicing
print(my_str[1:4]); print(my_str[:]); print(my_str[1:])

In [0]:
#string split
s1, s2 = my_str.split(); print(s1); print(s2)
print(s1, s2)

In [0]:
#multiple line spanning
multilines= """This is a multi-line
block of sample
 text"""
print(multilines)

In [0]:
#string formatting
text = "%d pigs in the barn, I‚Äôll %s and %s" %(300,'huff','puff')
print(text)

In [0]:
total= "my share = %.5f, tip = %d" %(24.5, 5.5)
print(total)

In [0]:
#more string ops
my_str="Hello World"
print(my_str.upper())
print(my_str.isalpha())
print(my_str[0].isalpha())
a='12'
print(a.isdigit())


 [top](#top)

<a id='control'></a>
## Control Structures 
<font color=blue>
* if-else
* for loops, while loops
* break: jump out of the current loop
* continue: jump to the top of next cycle within the loop
* pass: do nothing 
</font> 
[top](#top)

In [0]:
x = 500 
if ( x >= 5 ):
  print(x,">= 5")
  print("Hi, greater than 5")
else:
    print(x, "< 5")

In [0]:

for num in range(3):
    print(num)

In [0]:
index=0
while (index < 3):
    print(index)
    index = index + 2

Tip:
Indentation: signifies code blocks

In [0]:
#prime numbers
#We will use this in the exercises  -  don't ask why it is this way!
n = 2
while n < 10:
    prime = True
    for x in range(2,n):
        if n % x == 0:
            prime = False
            break
        if prime:
            print(n, 'is a prime #  ')
            pass
        else:
            n= n + 1
            continue
    n = n + 1

In [0]:
#Loops:  looping through a string
# 'for' and 'in' are new keywords
for x in "banana":
  print(x)

In [0]:
for x in range(6):
  print(x)

In [0]:
#range and increment by 3
for x in range(2, 30, 3):
  print(x)

<a id='list'></a>
## Lists
* Collection of data [ ]
* Often used to store homogeneous values
    * e.g., Numbers, names with the same data type
* Members are accessed as strings
* Mutable: modify in place without creating a new object

In [0]:
my_list = [1,2,9,4]
print(my_list)
#how to find out the data type?
type(my_list)

In [0]:
my_list2 = list(range(-4,10, 4))
print(my_list2)

In [0]:
# access list members by index 
# start at 0, end at n-1
print("1st element =", my_list[0])
print("last element =", my_list[3])

In [0]:
#Concatenate lists
print(my_list + my_list)
print(my_list *2)
print(my_list *3)

In [0]:
# iterate list elements
animals = ['dog','cat','horse']
for name in animals:
    print(name)

In [0]:
# enumarate
cars = ['Ford','Chevy','Toyota']
print(cars)
cars2 = enumerate(cars)
print(list(cars2))

In [0]:

for index, name in enumerate(cars):
    print(index+1, name)

In [0]:
# modify list
del my_list[0]; print(my_list)
my_list.append(99); print(my_list)
my_list.insert(1, 100); print(my_list)

In [0]:
#some list fun

my_list.sort(); print(my_list)
my_list.reverse(); print(my_list)

In [0]:
#more sorting
my_list = ['cats', 'SHEEP','DOGS','horses']
print(sorted(my_list, key=len))
print(sorted(my_list))
print(sorted(my_list, reverse=True))

In [0]:
sorted(my_list, key=len)

In [0]:
# sort by lowercase
sorted(my_list, key=str.lower)

In [0]:
#list comprehension [expr for var in list]
my_list=[2,5,9,1]
square = [x**2 for x in my_list]; print("square =", square)
large = [n for n in my_list if n >= 5]; print('large =',large)


 [top](#top)

<a id='tuple'></a>
## Tuples

  * Why Tuple?
  * Processed faster than lists
  * Sequence of a Tuple is protected
  * Sequence unpacking

Suprising Trait:

Python tuples are immutable, but their values may change. This may happen when a tuple holds a reference to any mutable object, such as a list. ... It's clear that dum and dee refer to objects that are equal, but not to the same object.

( [ On immutable but changing tuples](http://radar.oreilly.com/2014/10/python-tuples-immutable-but-potentially-changing.html))

[Tutorial just on Python Tuples](https://www.tutorialspoint.com/python/python_tuples.htm)

In [0]:
#empty tuples
my_tup = ()
print(my_tup)

In [0]:
# you have to include a comma, even though there is only one value you have to include a comma, even though there is only one value
tup1 = (50,);
print(tup1)

In [0]:
my_tup = (2, 8, 3, 1)
print(my_tup)
a,b,c,d = my_tup
print(a, b, c, d)

In [0]:
print(my_tup[0])

In [0]:
#Spoiler:  look for error before running?
tup = ('physics', 'chemistry', 1997, 2000);
print(tup);
del tup;
print("After deleting tup : ");
print(tup);

Immutable?  Not?

In [0]:
dum = ('1861-10-23', ['poetry', 'pretend-fight'])
dee = ('1861-10-23', ['poetry', 'pretend-fight'])

print(dum == dee)

print(dum is dee)

id(dum), id(dee)

In [0]:
t_doom = dum
print(dum, t_doom)

print(t_doom == dum)
print(t_doom is dum)
id(dum), id(t_doom)

In [0]:
skills = t_doom[1]
print(skills)

skills.append('rap')
print(t_doom)

print(dum)

In [0]:
print(dum == dee)


 [top](#top)

<a id='dic'></a>
## Dictionaries
* List of key-value pairs { }
* Unordered collections of objects, not indexed
* Store objects in a random order to provide faster lookup
* Data type are heterogeneous, unlike list
* Element are accessed by a keyword, not index
* Elements are mutable 
* dict = {"key1‚Äù: value1,  ‚Äúkey2‚Äù: value2} 

[Tutorialspoint.com  on  Dictionaries](https://www.tutorialspoint.com/python/python_dictionary.htm)

In [0]:
my_dict = {'cats': 4, 'dogs':2, 'sheep':3}
print(my_dict)

In [0]:
print(my_dict["cats"])

In [0]:
my_dict['horse'] = 3; print(sorted(my_dict))

In [0]:
print(my_dict.keys()); print(my_dict.values())
print(sorted(my_dict.values()))

In [0]:
for key, value in my_dict.items():
    print(key, value)


 [top](#top)

<a id='file'></a>
## Files
* file open, close, read, write
* file_handle = open(‚Äúfile_name‚Äù, ‚Äòmode‚Äô)
    * Modes: 
    * a: append
    * r: read only (error if not existing)
    * w: write only
    * r+: read/write (error if not existing)
    * w+: read/write
    * b: binary
* Python has a built-in garbage collector
* Object memory space is auto reclaimed once a file is no longer in use

In [0]:
if [ ! -f "data.txt" ]; then wget 'https:/! /raw.githubusercontent.com/lsuhpchelp/lbrnloniworkshop2018/master/day2_python/data.txt'; else echo 'file exists'; fi;

In [0]:
input = open('data.txt', 'r')
content = input.read()
input.close()
print(content)

In [0]:
#write to a file
output = open('write.txt','w')
output.write("Writing to a file")
output.close()
!ls -l
! cat write.txt


 [top](#top)

<a id='module'> </a>
## Functions
def func_name(par1, par2,...): 
> body of code


 



 [top](#top)

In [0]:
#addition
def my_add(x, y):
    return x+y

sum=my_add(3, 8); print(sum)

In [0]:
#return multiple values
def power(input):
    return input**2, input**3

square, cube = power(3)
print("square =",square, "cube =",cube)

<a id='module'> </a>
## Python Module
* A python script with python functions and statements
* Import a module before having access to all the functions within
* Most Python distributions come with plenty of build-in modules 
***


## Python Modules
* math, sys, os..
* NumPy, high performance in vector & matrix using vector computation 
* SciPy: based on Numpy, including many scientific algorithms.
* padas
* matplotlib, pyplot, pylab

Reference to [Python3.x standard libraries](https://docs.python.org/3/library/)

In [0]:
#import a module
import math
math.sin(math.pi)

In [0]:
#get information of a module
dir(math)

In [0]:
#get information
help(math)

In [0]:
# get information of a module function 
help(range)

 * Examples using os, commands modules
 * os: includes many functions interacting with the file system

In [0]:
import os
!ls 
os.listdir()

In [0]:

def display_dir(dir):
      files = os.listdir()
      for fname in files:
        print(fname)
        print(os.path.abspath(os.path.join(dir, fname))) 

display_dir('/tmp')

 [top](#top)

#### Data processing

In [0]:
# Plot a bar chart
import matplotlib.pyplot as plt


xlabeles = ['January','February','March','April']
xticks = [i for i in range(len(xlabeles))]
y = [ 34, 17, 13, 69]
e = [5.2, 10., 1.5, 12.]
plt.errorbar(xlabeles, y, yerr=e, fmt='d', capsize=10)
plt.bar(xlabeles, y, 0.5, color='red' )
plt.title("Sale by Month")
plt.xlabel('Month')
plt.ylabel('Sale')
plt.xticks(xticks, xlabeles)

plt.show()

 [top](#top)

# Examples:   Please solve the following problems:  (Feel free to ask for help)

Write a line of code to print the sum of 999 and 1600

Write a line of code to print out your "Hello Name" where Name is your name.

Write a code snippet to calculate the total of the shopping spree on Rodeo Dr. You bought:

1 pair of shoes:  2400<br>
1ùëùùëéùëñùëüùëúùëìùë†ùëôùëéùëêùëòùë†: 1500<br>
ruby ring: 22000

State and local tax is 22%.

You want to print out the untaxed total, the amount of tax and the total of tax and goods.



```
```

Rewrite the code you wrote above make the tax calculation a function block and the shopping total a function block.   Write a complete program and run it.

**Create a leap year finder based on the following algorithm:

Leap years occur according to the following formula: a leap year is divisible by four, but not by one hundred, unless it is divisible by four hundred. For example, 1992, 1996, and 2000 are leap years, but 1993 and 1900 are not. The next leap year that falls on a century will be 2400.

Use the following list to check and see if your code is correct.  The list of leap years from 1900 to 2400 inclusive is:

1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020

In [0]:
#Find leap years:
#
#Logic: leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400. 

# To get year (integer input) from the user
# year = int(input)
#  Warn user:   print("{0} is not a leap year".format(year))

Using the code in the prime number example in the Control Structures section fix the code so it only prints out each prime number once.

 [top](#top)