<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2021/blob/main/day3/intro_python_lecture_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 # Introduction to Python
## May 31st, 2021 
## 4th LBRN-LONI Scientific Computing Bootcamp

### Zach Byerly - HPC User Services Specialist
### zbyerl1@lsu.edu

Outline
 * Introduction
    - About Python
    - Advantages and Disadvantages
    - Interactive Python Environments
    - Important Differences Between 2.x and 3.x
 * Python Programming Basics
    - Variables
    - Built-in Data Types
    - Operators
    - Strings
 * Control structures
    - If Else Statement
    - For Loop
    - While Loop
 * Lists, Tuples, Sets, and Dictionaries
 * Functions
 * Python Modules
 * Exercises

## About Python
 * A general-purpose programming language
 * Intuitive
 * Interpreted not compiled (which has advantages and disadvantages)
 * Can be used interactively
 * Relies on indentation and whitespace to define scope, such as control structures and functions
 * Relatively portable

## Advantages & Disadvantages

### Advantages
 * Ease of programming
 * Minimal time to develop and maintain codes
 * Lots of standard and user-contributed libraries
 * Large user community (very easy to find help!)
 
### Disadvantages
 * Interpreted means slower than compiled languages 
 * Dynamically-typed can mean more run-time errors and hard to find bugs in code
 * Two versions are commonly used, and there are a couple of important differences

##Interactive Python environments

**IPython**

* Interactive command shell for Python (2001) by Fernando Perez
* Command tab-completion, color-highlighted error messages..
* Basic Linux shell integration (cp, ls, rm…)

**Jupyter Notebook**

* Web interface to Python, introduced in 2015 
* Rich text, improved graphical capabilities
* Allow to create and share documents that contain live code, equations, visualizations and explanatory text. 
* Interface with over 40 languages, including R
* This colab.research.google.com notebook is a Jupyter notebook
* Jupyter Notebook is also available on LSU's Open OnDemand gateway, so you can run on SuperMike-II (ask me later if you are interested)

## Important Differences Between Python 2.x and 3.x

We will be working with Python 3, but there are several important differences between Python 2.x and 3.x that can cause confusion. Here are two of the most likely to cause problems:

###Behavior of the Division Operator

This difference is the most dangerous, because it doesn't throw any errors. In Python 2.x, dividing two integers produces an integer.  In Python 3.x, the same operation produces a floating point number.

For example:

**In Python 2.x:**
```
print 7 / 5
print -7 / 5
```
Output:
```
1
-2
```
**In Python 3.x:**
```
print(7/5)
print(-7/5)
```
Output:
```
1.4
-1.4
```

The best way to deal with this problem is to specifically express at least one of the two integers as floating point numbers before dividing them, that way Python will know that you're expecting a floating point number as the result. 

**In Python 2.x:**
```
print 7.0 / 5
print -7.0 / 5
```
Output:
```
1.4
-1.4
```

###Print Function vs. Keyword

Python 2.x uses the print keyword (rather than function) and looks like this:

```
print 'Hello world!'
```


This will produce an error in Python 3.x


As we will see later on, Python 3.x uses a print function, which looks like this:

```
print('Hello world!')
```

Writing a print statement like this will work in **both** Python 2.x and 3.x

**Questions?**

# Python Programming Basics

## Comments

In [ ]:
# This is a comment

## Variables 

* Variable type is dynamically determined from the value it is assigned, no data type is declared
* A variable is assigned a value using the ‘=’ operator

In [ ]:
# Assign the value 3 to the variable age
age = 37
# Assign the string "Zach" to the variable name
name = "Zach"

# use the print command to see what values those variables hold
print(age)
print(name)

# put those variables inside of a sentence
print("Hi, my name is", name, "and I am", age, "years old!")

# Built-in Data Types


* Number
  - int
  - float
  - complex
* String (str)
* Sequence
  - list
  - tuple
  - sets
  - dictionary
* Boolean (bool)

And more!

## Numerical data types and operations

**Determining the Type of a Variable**

In [ ]:
x = 3
type(x)

In [ ]:
y = 3.0
type(y)

In [ ]:
z='hello'
type(z)

**Casting**

When we want to assign a variable and specify the variable type

In [ ]:
# This is called "casting"
x = int(3.4)
print(x)
type(x)

In [ ]:
y = float(3)
print(y)
type(y)

### Arithmetic Operators

In [ ]:
# Adding and subtracting numbers
a = 11
b = 5
c = a + b

print(c)

d = a - b

print(d)

In [ ]:
# Multiplying and dividing numbers
e = a*b
print(e)

f = int(a/b)
print(f)

In [ ]:
g = a%b
print(g)

In [ ]:
a = 2
b = 8
h = a**b
print(h)

### Assignment Operators

In [ ]:
x = 10
x += 3
print(x)

y = 10
y = y + 3
print(y)

In [ ]:
x = 10
x -= 3
print(x)

y = 10
y = y - 3
print(y)

In [ ]:
x = 10
x *= 3
print(x)

y = 10
y = y * 3
print(y)

In [ ]:
x = 10
x /= 5
print(x)

y = 10
y = y / 5
print(y)

### Comparison Operators

In [ ]:
x = 5
y = 5

print(x, "==", y, x==y)
print(x, "!=", y, x!=y)
print(x, ">", y, x>y)
print(x, "<", y, x<y)
print(x, ">=", y, x>=y)
print(x, "<=", y, x<=y)

### Logical Operators

In [ ]:
a = 3
b = 2
x = 10
y = 20
print(a < b and x < y)

In [ ]:
a = 3
b = 2
x = 30
y = 20
print(a < b or x < y)

In [ ]:
a = 3
b = 2
x = 10
y = 20
print(not(a < b and x < y))

<a id='string'></a>
## Strings and string operations

In [ ]:
my_str = 'Hello World'

In [ ]:
print(my_str); len(my_str)

In [ ]:
#indexing starting at 0
print(my_str[0]); print(my_str[1]); print(my_str[len(my_str)-1])

In [ ]:
#string slicing
print(my_str[6:11]); print(my_str[:]); print(my_str[:1])

In [ ]:
#string split
my_str = 'Hello World'
print(my_str)
s1, s2= my_str.split(); print(s1); print(s2)

In [ ]:
my_str = 'dog,cat'
print(my_str)
s1, s2= my_str.split(sep=',', maxsplit=2); print(s1); print(s2)

In [ ]:
#multiple line spanning
multilines= """This is a multi-line
block of sample
 text"""
print(multilines)

In [ ]:
#more string ops
my_str="Hello"
print(my_str.upper())
print(my_str.isalpha())
print(my_str[0].isalpha())
a='12'
print(a.isdigit())

# Control Structures

**If... Else**

In [ ]:
# if else statement:

x = 10
if ( x > 5 ):
  print(x,"> 5")
  print("Hi, greater than 5")
elif( x == 5 ):
  print("Hi, equals 5")
elif( x == 3 ):
  print("Hi, equals 3!")
else:
  print(x, "< 5")
  print("Hi, less than 5")

In [ ]:
# The pass statement
# placeholder for empty code, does nothing

x = 5

if (x > 1):
  pass
else:
  print("x is not greater than one")

**For Loop**

In [ ]:
for num in range(10):
  print(num)

In [ ]:
# The break statement
# stops a loop before it would normally be finished

for num in range(10):
  print(num)
  if(num == 4): break # shorthand if statement

In [ ]:
#Looping through a string:
for x in "banana":
  print(x)

In [ ]:
for x in range(6):
  print(x)

In [ ]:
#range and increment by 3

for x in range(3, 30, 3):
  print(x)

**While Loop**

In [ ]:
index=1
while (index <= 10):
    print(index)
    index += 3

In [ ]:
# The continue Statement
# stops the current iteration of the loop, and continues with the next

sum = 0
while (sum < 10):
  sum +=1
  if (sum > 5): continue
  print("sum =", sum)

print("After the loop, sum=", sum)

**Nesting Control Structures**

In [ ]:
# prime numbers
n = 2
while n < 10:
  prime = True
  for x in range(2,n):
    if n % x == 0:
      prime = False
  if prime:
    print(n, 'is a prime #  ')
  n += 1

**Questions?**

# Lists, Tuples, and Dictionaries
There are 4 built-in data types used to store collections of data. Each have different qualities and uses.
* **Lists:** Ordered, Changeable, Allows Duplicates

* **Tuples:** Ordered, Unchangeable, Allows Duplicates

* **Sets** (we won't talk about sets today): Unordered, Unchangeable, Doesn't Allow Duplicates

* **Dictionaries:** Ordered (as of Python 3.7), Changeable, Doesn't allow Duplicates, **stores data in key/value pairs**


*Ordered:* has a defined order

*Changeable:* can change, add, and remove items

*Allows Duplicates:* can have multiple items with the same value

## Lists

In [ ]:
my_list = [1,2,9,4]
print(my_list)
#how to find out the data type?
type(my_list)

In [ ]:
my_list2 = list(range(2,21,2))
print(my_list2)

In [ ]:
# access list members by index 
# start at 0, end at n-1
print("1st element =", my_list[0])
print("last element =", my_list[3])

In [ ]:
#Concatenate lists
print(my_list + my_list)
print(my_list *2)
print(my_list *3)

In [ ]:
# iterate list elements
animals = ['dog','cat','horse','mouse']
for name in animals:
    print(name)

In [ ]:
my_list = [1,2,9,4]

# modify list
del my_list[0]; print(my_list)
my_list.append(7); print(my_list)
my_list.insert(0, 42); print(my_list)

In [ ]:
my_list.sort(); print(my_list)
my_list.reverse(); print(my_list)

In [ ]:
#more sorting
my_list = ['cats', 'SHEEP','DOGS','horses']
print(sorted(my_list, key=len))
print(sorted(my_list))
print(sorted(my_list, reverse=True))

In [ ]:
sorted(my_list, key=len)

In [ ]:
# sort by lowercase
sorted(my_list, key=str.lower)

In [ ]:
#list comprehension [expr for var in list]
my_list=[2,5,9,1]
square = [x**2 for x in my_list]; print("square =", square)
large = [n for n in my_list if n >= 5]; print('large =',large)

my_list = [2,5,9,1]
times_two = [x*2 for x in my_list if x%2 == 1]
print(times_two)

## Tuples

  * Why Tuple? 
  * Processed faster than lists
  * Sequence of a Tuple is protected
  * Most people say "TOO-pul", I say "TUH-pul".  Both are correct!

In [ ]:
#empty tuples
my_tup = ()
print(my_tup)

In [ ]:
# you have to include a comma, even though there is only one value you have to include a comma, even though there is only one value
tup1 = (50,);
print(tup1)

In [ ]:
my_tup = (2, 8, 3, 1)
print(my_tup)
a,b,c,d = my_tup
print(a, b, c, d)

In [ ]:
print(my_tup[0])

## Dictionaries
* List of key-value pairs { }
* Unordered collections of objects, not indexed
* Store objects in a random order to provide faster lookup
* Data type are heterogeneous, unlike list
* Element are accessed by a keyword, not index
* Elements are changeable
* dict = {"key1”: value1,  “key2”: value2}

In [ ]:
my_dict = {'cats': 4, 'dogs':2, 'sheep':3}
print(my_dict)

In [ ]:
print(my_dict["cats"])

In [ ]:
my_dict['horse'] = 3; print(sorted(my_dict))

In [ ]:
print(my_dict.keys()); print(my_dict.values())
print(sorted(my_dict.values()))

In [ ]:
for key, value in my_dict.items():
    print(key, value)

# Functions
How to define a function:

def func_name(arg1, arg2,...): 
  body of the function
  
  return return_value

In [ ]:
#addition
def my_add(x, y):
    return x+y

sum=my_add(3, 8); print(sum)

In [ ]:
#return multiple values
def power(input):
    return input**2, input**3

square, cube = power(3)
print("square =",square, "cube =",cube)


# Python Modules
* Import a module before having access to all the functions within
* Most Python distributions come with plenty of build-in modules, for example: math, sys, os
* Many other very useful python modules:
 -  NumPy, high performance in vector & matrix using vector computation 
 -  SciPy: based on Numpy, including many scientific algorithms.
 -  Machine Learning Libraries: tensorflow, pytorch, sklearn

In [ ]:
#import a module
import math
math.sin(math.pi)

 * Examples using os, commands modules
 * os: includes many functions interacting with the file system

In [47]:
import os
!ls -a
os.listdir()

.  ..  .config	sample_data

['.config', 'sample_data']

In [48]:

def display_dir(dir):
      files = os.listdir()
      for fname in files:
        print(fname)
        print(os.path.abspath(os.path.join(dir, fname))) 

display_dir('/tmp')

.config
/tmp/.config
sample_data
/tmp/sample_data

Plotting using matplotlib

In [ ]:
# Plot a bar chart
import matplotlib.pyplot as plt


xlabeles = ['January','February','March','April']
xticks = [i for i in range(len(xlabeles))]
y = [ 34, 17, 13, 69]
e = [5.2, 10., 1.5, 12.]
plt.errorbar(xlabeles, y, yerr=e, fmt='d', capsize=10)
plt.bar(xlabeles, y, 0.5, color='red' )
plt.title("Sale by Month")
plt.xlabel('Month')
plt.ylabel('Sale')
plt.xticks(xticks, xlabeles)

plt.show()

# Examples:   Please solve the following problems:  (Feel free to ask for help)

1) Write a line of code to print the sum of 999 and 1600

2) Write a line of code to print out your "Hello Name" where Name is your name.

3) Write a code snippet to calculate the total of a shopping trip. You bought:

1 pair of shoes:  $2400

1 pair of slacks: $1500

1 ruby ring: $22000

State and local tax is 22%.

You want to print out the untaxed total, the amount of tax and the total of tax and goods.

4) Rewrite the code you wrote above make the tax calculation a function block and the shopping total a function block.   Write a complete program and run it.

**5)** Write a function to determine if a number is prime or not. Have the function return True if prime, False if not.

In [61]:
# Write function here:
def is_prime(n):





# Testing:

primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

works = True
for prime in primes:
  if (is_prime(prime) == False):
    print("There seems to be a problem...", prime, "is a prime number, but your function says it isn't!")
    works = False

if(works): print("Test #1 passed!")

works=True
for x in range(2,101):
  if (is_prime(x) == True):
    if (x not in primes):
      print("I'm sorry,", x, "is not a prime number!")
      works = False

if(works): print("Test #2 passed!")

There seems to be a problem... 2 is a prime number, but your function says it isn't!
There seems to be a problem... 3 is a prime number, but your function says it isn't!
There seems to be a problem... 5 is a prime number, but your function says it isn't!
There seems to be a problem... 7 is a prime number, but your function says it isn't!
There seems to be a problem... 11 is a prime number, but your function says it isn't!
There seems to be a problem... 13 is a prime number, but your function says it isn't!
There seems to be a problem... 17 is a prime number, but your function says it isn't!
There seems to be a problem... 19 is a prime number, but your function says it isn't!
There seems to be a problem... 23 is a prime number, but your function says it isn't!
There seems to be a problem... 29 is a prime number, but your function says it isn't!
There seems to be a problem... 31 is a prime number, but your function says it isn't!
There seems to be a problem... 37 is a prime number, but your function says it isn't!
There seems to be a problem... 41 is a prime number, but your function says it isn't!
There seems to be a problem... 43 is a prime number, but your function says it isn't!
There seems to be a problem... 47 is a prime number, but your function says it isn't!
There seems to be a problem... 53 is a prime number, but your function says it isn't!
There seems to be a problem... 59 is a prime number, but your function says it isn't!
There seems to be a problem... 61 is a prime number, but your function says it isn't!
There seems to be a problem... 67 is a prime number, but your function says it isn't!
There seems to be a problem... 71 is a prime number, but your function says it isn't!
There seems to be a problem... 73 is a prime number, but your function says it isn't!
There seems to be a problem... 79 is a prime number, but your function says it isn't!
There seems to be a problem... 83 is a prime number, but your function says it isn't!
There seems to be a problem... 89 is a prime number, but your function says it isn't!
There seems to be a problem... 97 is a prime number, but your function says it isn't!
Test #2 passed!

6) Create a leap year finder based on the following algorithm:

Leap years occur according to the following formula: a leap year is divisible by four, but not by one hundred, unless it is divisible by four hundred. For example, 1992, 1996, and 2000 are leap years, but 1993 and 1900 are not. The next leap year that falls on a century will be 2400.

Use the following list to check and see if your code is correct.  The list of leap years from 1900 to 2400 inclusive is:

1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020

In [ ]:
#Find leap years:
#
#Logic: leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400. 

# To get year (integer input) from the user
# year = int(input)
#  Warn user:   print("{0} is not a leap year".format(year))