Practice session
===
Data Analysis in R

##Warming up: review workding folder basics
*  R works best if you have a dedicated folder for each separate project - the working folder. Put all data files in the working folder (or in subfolders).

Show current working folder:

In [ ]:
getwd()

[1] "/content"

Create a new folder:

In [ ]:
dir.create("data")

Go to the new folder:

In [ ]:
setwd("data")

Show current working folder:

In [ ]:
getwd()

[1] "/content/data"

##Case Study: 2019 Forbes Global list
*   The `forbes` dataset consists of 2000 rows (observations) on 8 variables describing companies’ rank, name, country, category, sales, profits, assets and market value. 
http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip
> * **`rank`** the ranking of the company
> * **`name`** the name of the company
> * **`country`** the country the company is situated in
> * **`category`** the products the company produces
> * **`sales`** the amount of sales of the company in billion USD
> * **`profits`** the profit of the company in billion USD
> * **`assets`** the assets of the company in billion USD
> * **`marketvalue`** the market value of the company in billion USD

# Step by step Data Analysis in R


1. Get data
2. Read data
3. Inspect data
4. Preprocess data (missing and dubious values, discard columns not needed etc.)
5. Analyze data
6. Generate report

## 1. Getting Data

Raw data 
* http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip

* Choose one of the following to download the raw data file from internet, then upload to the colab
> * Manually download the file to the working directory 
> * or with R function `download.file()`

In [1]:
# Fill the blanks in the download command
 download.file("http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip", "Forbes2000_2019.csv.zip")
list.files() # List files in current folder

[1] "Forbes2000_2019.csv.zip" "sample_data"

* Unzip with the `unzip()` function

In [2]:
# Fill the blanks in the unzip command
unzip("Forbes2000_2019.csv.zip","Forbes2000_2019.csv")
list.files()   # List files in current folder

[1] "Forbes2000_2019.csv"     "Forbes2000_2019.csv.zip"
[3] "sample_data"

##2. Reading data
* R understands many different data formats and has lots of ways of reading/writing them (csv, xml, excel, sql, json etc.)

>Input | Output | Purpose
>--- | --- | ---
>read.table (read.csv) | write.table (write.csv) | for reading/writing tabular data
>readLines | writeLines | for reading/writing lines of a text file
>source | dump | for reading/writing in R code files
>dget | dput | for reading/writing in R code files
>load | save | for reading in/saving workspaces

* ` read.csv()` is identical to `read.table()` except that the default separator is a comma.

In [4]:
# Fill the blank in the read.csv command
 forbes <- read.csv("Forbes2000_2019.csv",header=T,stringsAsFactors = FALSE,na.strings ="?",sep=",")

##3. Inspecting data
* `class()`: check object class
* `dim()`: dimension of the data
* `head()`: print on screen the first few lines of data, may use n as argument
* `tail()`: print the last few lines of data

In [5]:
# Fill the blanks in the following commands
class(forbes)
dim(forbes)
head(forbes,n=50)

[1] "data.frame"

[1] 2000    7

   rank name                       country        sales profits assets
1   1   ICBC                       China          175.9 45.2    4034.5
2   2   JPMorgan Chase             United States  132.9 32.7    2737.2
3   3   China Construction Bank    China          150.3 38.8    3382.4
4   4   Agricultural Bank of China China          137.5 30.9    3293.1
5   5   Bank of America            United States  111.9 28.5    2377.2
6   6   Apple                      United States  261.7 59.4     373.7
7   7   Ping An Insurance Group    China          151.8 16.3    1038.3
8   8   Bank of China              China          126.7 27.5    3097.6
9   9   Royal Dutch Shell          Netherlands    382.6 23.3     399.2
10 10   Wells Fargo                United States  101.5 23.1    1887.8
11 11   ExxonMobil                 United States  279.2 20.8     346.2
12 12   AT&T                       United States  170.8 19.4     531.9
13 13   Samsung Electronics        South Korea    221.5 39.9     304.1
14 14   Citigroup                  United States  100.0 17.9    1958.4
15 15   Toyota Motor               Japan          272.1 17.2     465.6
16 16   Microsoft                  United States  118.2 33.5     258.9
17 17   Alphabet                   United States  137.0 30.7     232.8
18 18   Volkswagen Group           Germany        278.2 14.0     553.5
19 19   Chevron                    United States  158.7 14.8     253.9
20 20   Verizon Communications     United States  130.9 15.5     264.8
21 21   HSBC Holdings              United Kingdom  64.3 13.7    2558.1
22 22   PetroChina                 China          322.8  8.0     354.3
23 23   Allianz                    Germany        118.8  8.8    1060.2
24 24   BP                         United Kingdom 299.1  9.3     282.2
25 25   Total                      France         184.2 11.4     256.8
26 26   Berkshire Hathaway         United States  247.8  4.0     707.8
27 27   China Mobile               Hong Kong      111.8 17.9     223.7
28 28   Amazon                     United States  232.9 10.1     162.6
29 29   Walmart                    United States  514.4  6.7     219.3
30 30   Santander                  Spain           89.5  9.2    1668.2
31 31   China Merchants Bank       China           54.9 12.3     982.5
32 32   UnitedHealth Group         United States  231.4 12.6     161.2
33 33   Comcast                    United States   94.5 11.7     251.7
34 34   BNP Paribas                France         101.6  8.4    2333.0
35 35   Sinopec                    China          399.7  9.5     233.0
36 36   Softbank                   Japan           86.2 13.9     332.3
37 37   Daimler                    Germany        197.4  8.6     321.9
38 38   Johnson & Johnson          United States   81.6 14.7     153.0
39 39   Bank of Communications     China           64.8 11.2    1388.2
40 40   Gazprom                    Russia         128.4 18.9     305.9
41 41   RBC                        Canada          46.3  9.6    1040.3
42 42   Nestl??                    Switzerland     93.4 10.4     139.0
43 43   Mitsubishi UFJ Financial   Japan           53.7  9.0    2799.9
44 44   Intel                      United States   70.8 21.1     128.0
45 45   Goldman Sachs Group        United States   51.0  9.9     925.0
46 46   TD Bank Group              Canada          42.5  8.7    1007.0
47 47   Sberbank                   Russia          51.6 13.3     449.7
48 48   Morgan Stanley             United States   50.9  8.5     876.0
49 49   Boeing                     United States  101.1 10.5     117.4
50 50   Petrobras                  Brazil          95.7  7.1     222.0
   marketvalue
1  305.1
2  368.5
3  225.0
4  197.0
5  287.3
6  961.3
7  220.2
8  143.0
9  264.9
10 214.7
11 343.4
12 233.3
13 272.4
14 161.1
15 176.6
16 946.5
17 863.2
18  92.0
19 228.3
20 239.7
21 175.5
22 198.7
23 102.3
24 149.5
25 149.5
26 516.4
27 197.6
28 916.1
29 296.1
30  84.1
31 130.4
32 212.8
33 192.0
34  68.7
35 105.6
36 112.4
37  71.3
38 366.2
39  63.6
40  59.9
41 114.9
42 281.3
43  65.0
44 263.1
45  75.5
46 103.8
47  78.5
48  80.2
49 214.5
50  91.2

In [6]:
# Fill the blank in the summary command
summary(forbes)

      rank            name             country              sales
 Min.   :   1.0   Length:2000        Length:2000        Min.   : -9.100
 1st Qu.: 500.8   Class :character   Class :character   1st Qu.:  4.725
 Median :1000.5   Mode  :character   Mode  :character   Median : 10.300
 Mean   :1000.5                                         Mean   : 20.600
 3rd Qu.:1500.2                                         3rd Qu.: 20.575
 Max.   :2000.0                                         Max.   :514.400
                                                        NA's   :2
    profits             assets         marketvalue
 Min.   :-22.4000   Min.   :   1.50   Min.   :  0.009
 1st Qu.:  0.4205   1st Qu.:  12.05   1st Qu.:  6.875
 Median :  0.7760   Median :  26.30   Median : 13.400
 Mean   :  1.7043   Mean   :  93.58   Mean   : 28.408
 3rd Qu.:  1.7000   3rd Qu.:  61.00   3rd Qu.: 27.500
 Max.   : 59.4000   Max.   :4034.50   Max.   :961.300
 NA's   :1          NA's   :5

##4. Preprocess data

### 4.1 Preprocessing - missing values
* Missing values are denoted in R by NA or NaN for undefined mathematical operations.
> * `is.na(x)` is used to test objects "x" if there are NAs
> * Which one is NA? `which(is.na(x))`

In [ ]:
Use one of the commands in the last session to

In [ ]:
# Fill the blank to find out which ones are NAs on Sales
which(is.na(forbes$sales))

[1] 192 570

* more about missing value inspection
> * How many NAs? `table(is.na(x))`
> * list of observations with missing values on profits `x(is.na(x),)`

In [ ]:
# Fill the blank to find out how many NAs on assets
table(is.na(forbes$assets))
# Fill the blank to find out observations with missing values on profits
which(is.na(forbes$profits))

FALSE  TRUE
 1995     5

[1] 1092

* remember many R functions also have a logical “`na.rm`” option
> * `na.rm=TRUE` means the NA values should be discarded

In [ ]:
# Calculate the mean value of profits
 mean(forbes$profits)  # will get NA
 mean(forbes$profits,na.rm =T)

[1] NA

[1] 1.704337

* **Note: Not all missing values are marked with “NA” in the raw data!**

* The simplest way to deal with the missing values is to remove them. 
> * If a column (variable) has a high percentage of the missing value, remove the whole column or just don’t use it for the analysis.
> * If a row (observation) has a missing value, remove the row with `na.omit()`. e.g.

In [ ]:
# remove the observations with missing values, save it to object "forbes2"
forbes2 <- na.omit(forbes) 
# find out the dimensions of forbes2
dim(forbes2)

[1] 1992    7

* Alternatively, the missing values can be replaced by basic statistics e.g. 
> * replace by mean

In [ ]:
for(i in 1:nrow(forbes)){
  if(is.na(forbes$profits[i])==TRUE){
  forbes$profits[i] <- mean(forbes$profits, na.rm = TRUE)
  }
}
for(i in 1:nrow(forbes)){
  if(is.na(forbes$sales[i])==TRUE){
  forbes$sales[i] <- mean(forbes$sales, na.rm = TRUE)
  }
}
for(i in 1:nrow(forbes)){
  if(is.na(forbes$assets[i])==TRUE){
  forbes$assets[i] <- mean(forbes$assets, na.rm = TRUE)
  }
}
dim(forbes)
summary(forbes)

[1] 2000    7

      rank            name             country              sales
 Min.   :   1.0   Length:2000        Length:2000        Min.   : -9.100
 1st Qu.: 500.8   Class :character   Class :character   1st Qu.:  4.775
 Median :1000.5   Mode  :character   Mode  :character   Median : 10.300
 Mean   :1000.5                                         Mean   : 20.600
 3rd Qu.:1500.2                                         3rd Qu.: 20.600
 Max.   :2000.0                                         Max.   :514.400
    profits             assets         marketvalue
 Min.   :-22.4000   Min.   :   1.50   Min.   :  0.009
 1st Qu.:  0.4208   1st Qu.:  12.10   1st Qu.:  6.875
 Median :  0.7770   Median :  26.40   Median : 13.400
 Mean   :  1.7043   Mean   :  93.58   Mean   : 28.408
 3rd Qu.:  1.7000   3rd Qu.:  61.35   3rd Qu.: 27.500
 Max.   : 59.4000   Max.   :4034.50   Max.   :961.300

###4.2 Preprocessing - subsetting data
* At most occasions we do not need all of the raw data
* There are a number of methods of extracting a subset of R objects
* Subsetting data can be done either by row or by column

#### 4.2.1 Subsetting by row: use conditions
Fill the blanks to find all companies with negative profit:

In [ ]:
forbes[ forbes$profits < 0 ,c("name","sales","profits","assets")]

     name                         sales profits assets
389  General Electric             121.6 -22.400 317.7
410  CVS Health                   194.1  -0.598 198.2
461  State Bank of India           47.5  -0.948 536.7
462  American International Group  47.2  -0.006 492.0
464  Vodafone                      53.9  -3.800 155.2
470  Dell Technologies             90.4  -2.300 111.8
548  Kraft Heinz Company           26.3 -10.200 103.6
580  McKesson                     213.5  -0.316  61.0
588  Korea Electric Power          55.1  -1.200 166.0
595  Allergan                      15.8  -5.100 101.8
613  JD.com                        69.8  -0.361  30.5
642  Nokia                         26.6  -0.402  46.6
651  Naturgy Energy Group          28.7  -3.400  46.4
664  Carrefour                     91.9  -0.663  54.2
694  Tesla                         21.5  -0.976  29.7
710  Uniper                        92.2  -0.533  65.9
714  Nomura                        16.7  -0.712 411.2
717  Cardinal Health              141.9  -0.038  40.5
719  Ericsson                      24.1  -0.368  30.3
733  Rolls-Royce Holdings          21.0  -3.200  40.6
742  CenturyLink                   23.4  -1.700  70.3
751  Teva Pharmaceutical           18.8  -2.300  60.7
759  Telecom Italia                22.4  -1.600  75.5
764  Liberty Global                13.0  -0.373  53.2
769  Tata Motors                   44.9  -4.100  46.4
778  Edison International          12.7  -0.423  56.7
814  PG&E                          16.8  -6.800  81.5
819  Williams                       8.7  -0.155  46.4
944  Dollar Tree                   22.8  -1.600  13.7
985  Cenovus Energy                16.1  -2.200  26.3
⋮    ⋮                            ⋮     ⋮       ⋮
1768 Central Bank of India         4.2  -0.797  50.3
1772 Syndicate Bank                3.8  -0.483  49.9
1784 Palo Alto Networks            2.6  -0.090   5.7
1790 Vodafone Idea                 4.6  -1.600  32.8
1791 MercadoLibre                  1.4  -0.037   2.2
1796 Axiata Group                  5.9  -1.200  15.5
1852 Smurfit Kappa Group          10.6  -0.762  10.9
1870 Splunk                        1.8  -0.276   4.5
1875 Saipem                       10.1  -0.557  13.5
1876 United Natural Foods,        14.3  -0.276   7.4
1880 Dixons Carphone              14.2  -0.462   9.1
1884 Allahabad Bank                3.0  -0.710  38.9
1895 United Aircraft               7.7  -0.023  17.2
1900 Andhra Bank                   3.3  -0.522  37.7
1906 VEON                          9.1  -0.693  14.1
1913 Sears Holdings               13.2  -1.700   6.7
1919 Oriental Bank of Commerce     2.9  -0.280  35.9
1929 Thomas Cook Group            12.9  -0.219   8.6
1938 iQIYI                         3.8  -1.400   6.5
1950 Land Securities Group         1.1  -0.234  18.7
1951 Lyft                          2.2  -0.911   3.8
1952 Corporation Bank              3.1  -0.628  34.1
1957 Indian Overseas Bank          3.2  -0.783  33.9
1965 Marvell Technology Group      2.9  -0.179  10.0
1974 AVIC International Holdings   8.2  -0.085  14.8
1975 Goldcorp                      3.0  -4.200  17.0
1983 Nippon Paper Industries       9.6  -0.351  12.8
1992 Snap                          1.2  -1.300   2.7
1997 Bed Bath & Beyond            12.0  -0.137   6.6
2000 JC Penney                    12.0  -0.255   7.9

Fill the blanks to find the number of companies in each country with profits above 5 billion US dollars

In [ ]:
 forbes3 <- forbes[ forbes$profits > 5    ,c("name","country","profits")]
table(  forbes3$country   )

     Australia         Brazil         Canada          China        Denmark
             3              5              3             23              1
        France        Germany      Hong Kong          India          Italy
             3              6              5              1              1
         Japan     Luxembourg    Netherlands         Norway         Russia
            10              1              3              1              5
  Saudi Arabia   South Africa    South Korea          Spain    Switzerland
             1              1              2              2              3
        Taiwan United Kingdom  United States
             1              5             59

Find three companies with largest sale volumne:

In [ ]:
companies <- forbes$name  # or companies <- forbes[,"name"] 
order_sales <- order(forbes$sales, decreasing=T)
#company names
companies[order_sales[1:3]]
#company sales
head(sort(forbes$sales,decreasing=T),n=3)

[1] "Walmart"           "Sinopec"           "Royal Dutch Shell"

[1] 514.4 399.7 382.6

Fill the blanks below to find first 50 companies in the Forbes dataset with the highest profit

In [ ]:
companies <- forbes$name   
order_profit <- order(    ,      )   # order() returns the indices of the vector in sorted order
companies[order_profit[   ]]
head(   (    ,decreasing=T),   )

####4.2.2 Subsetting by row: use `subset()` function
Fill the blanks below to find all German companies with negative profit

In [ ]:
# Germanycomp <- subset(    ,    )
# Germanycomp[       ,c("name","sales","profits","assets")]

##Solution
Find all German companies with negative profit

In [ ]:
Germanycomp <- subset(forbes, country == "Germany")
Germanycomp[Germanycomp$profits < 0,c("name","sales","profits","assets")]

Find the number of companies in each country with profits above 5 billion US dollars

In [ ]:
forbes3 <- forbes[forbes$profits > 5,c("name","country","profits")]
table(forbes3[,"country"])

Find first 50 companies in the Forbes dataset with the highest profit

In [ ]:
companies <- forbes$name   
order_profit <- order(forbes$profits, decreasing=T)   # order() returns the indices of the vector in sorted order
companies[order_profit[1:50]]
head(sort(forbes$profits,decreasing=T),n=50)

 [1] "Apple"                      "ICBC"
 [3] "Samsung Electronics"        "China Construction Bank"
 [5] "Microsoft"                  "JPMorgan Chase"
 [7] "Agricultural Bank of China" "Alphabet"
 [9] "Bank of America"            "Bank of China"
[11] "Royal Dutch Shell"          "Wells Fargo"
[13] "Facebook"                   "Intel"
[15] "ExxonMobil"                 "AT&T"
[17] "Gazprom"                    "Citigroup"
[19] "China Mobile"               "Toyota Motor"
[21] "Ping An Insurance Group"    "Fannie Mae"
[23] "Verizon Communications"     "Chevron"
[25] "Johnson & Johnson"          "SK Hynix"
[27] "Volkswagen Group"           "Softbank"
[29] "Rio Tinto"                  "HSBC Holdings"
[31] "Naspers"                    "Sberbank"
[33] "Micron Technology"          "Cisco Systems"
[35] "UnitedHealth Group"         "Novartis"
[37] "PepsiCo"                    "China Merchants Bank"
[39] "Tencent Holdings"           "Comcast"
[41] "Taiwan Semiconductor"       "Total"
[43] "Bank of Communications"     "Pfizer"
[45] "Unilever"                   "Home Depot"
[47] "Walt Disney"                "Procter & Gamble"
[49] "Oracle"                     "Roche Holding"

 [1] 59.4 45.2 39.9 38.8 33.5 32.7 30.9 30.7 28.5 27.5 23.3 23.1 22.1 21.1 20.8
[16] 19.4 18.9 17.9 17.9 17.2 16.3 16.0 15.5 14.8 14.7 14.1 14.0 13.9 13.8 13.7
[31] 13.5 13.3 13.1 12.9 12.6 12.6 12.6 12.3 11.9 11.7 11.6 11.4 11.2 11.2 11.1
[46] 11.1 11.0 10.8 10.8 10.7

####4.2.3 Subsetting by column
Create another dataframe with only numeric variables (i.e. only keep columns of sales, profits, assets and marketvalue)

In [ ]:
#use data.frame function
forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

# Fill the blank below
#use subset() function
forbes4 <- subset( forbes,select = c(sales,profits,assets,marketvalue)        )
str(forbes4)

#or simply use indexing
# Fill the blank below
forbes5 <- forbes[ ,c(4:7)    ]
str(forbes5)

'data.frame':	2000 obs. of  4 variables:
 $ sales  : num  176 133 150 138 112 ...
 $ profits: num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets : num  4034 2737 3382 3293 2377 ...
 $ mvalue : num  305 368 225 197 287 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

## Solution

In [ ]:
#use data.frame function
forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

#use subset() function
# forbes4 <- subset(forbes,select=c(sales,profits,assets,marketvalue))
str(forbes4)

#or simply use indexing
# forbes5 <- forbes[,c(4:7)]
str(forbes5)

### 4.3 Preprocessing – Factors
* factors are variables in R which take on a limited number of different values; such variables are often referred to as categorical variables


Convert characters to (unordered) factors:

In [ ]:
forbes$country<-factor(forbes$country)
str(forbes)
summary(forbes)

'data.frame':	2000 obs. of  7 variables:
 $ rank       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name       : chr  "ICBC" "JPMorgan Chase" "China Construction Bank" "Agricultural Bank of China" ...
 $ country    : Factor w/ 23 levels "Argentina","Bahrain",..: 17 21 17 17 21 21 17 17 19 21 ...
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

      rank            name                                   country
 Min.   :   1.0   Length:2000        Thailand                    :632
 1st Qu.: 500.8   Class :character   United States               :576
 Median :1000.5   Mode  :character   United Kingdom              :456
 Mean   :1000.5                      United Kingdom/ South Africa:129
 3rd Qu.:1500.2                      Hong Kong                   : 58
 Max.   :2000.0                      Canada                      : 56
                                     (Other)                     : 93
     sales            profits             assets         marketvalue
 Min.   : -9.100   Min.   :-22.4000   Min.   :   1.50   Min.   :  0.009
 1st Qu.:  4.775   1st Qu.:  0.4208   1st Qu.:  12.10   1st Qu.:  6.875
 Median : 10.300   Median :  0.7770   Median :  26.40   Median : 13.400
 Mean   : 20.600   Mean   :  1.7043   Mean   :  93.58   Mean   : 28.408
 3rd Qu.: 20.600   3rd Qu.:  1.7000   3rd Qu.:  61.35   3rd Qu.: 27.500
 Max.   :514.400   Max.   : 59.4000   Max.   :4034.50   Max.   :961.300

* Small classes could be merged into a larger class. Why?
> * For better model performance. E.g. Classification and Regression Trees tend to split using the variables with many categories.
> * Actual needs
Some categories have just a few subjects

In [ ]:
table(forbes$country)

           Argentina            Australia              Austria
                   2                   37                    9
             Bahrain              Belgium              Bermuda
                   1                   10                    4
              Brazil               Canada                Chile
                  20                   56                    8
               China             Colombia       Czech Republic
                 251                    6                    1
             Denmark                Egypt              Finland
                  13                    1                    9
              France              Germany               Greece
                  57                   52                    4
           Hong Kong              Hungary                India
                  58                    2                   57
           Indonesia              Ireland               Israel
                   6                   18                    9
               Italy                Japan               Jordan
                  27                  223                    1
          Kazakhstan                Kenya               Kuwait
                   1                    1                    4
             Lebanon           Luxembourg             Malaysia
                   2                    7                    9
              Mexico               Monaco              Morocco
                  13                    1                    3
         Netherlands              Nigeria               Norway
                  25                    2                    8
                Oman                 Peru          Philippines
                   1                    2                    6
              Poland             Portugal                Qatar
                   7                    4                    6
              Russia         Saudi Arabia            Singapore
                  22                   15                   13
        South Africa          South Korea                Spain
                  12                   62                   22
              Sweden          Switzerland               Taiwan
                  26                   41                   47
            Thailand               Turkey United Arab Emirates
                  15                    9                    9
      United Kingdom        United States              Vietnam
                  83                  576                    4

* Merge small classes into a larger classes

Merge all South American countries to "Venezuela"

In [ ]:
forbes$country[(forbes$country=="Bermuda")|(forbes$country=="Brazil")|(forbes$country=="Chile")|(forbes$country=="Panama/ United Kingdom")|(forbes$country=="Peru")]<-"Venezuela"

Merge small classes into a larger classes

In [ ]:
forbes$country[(forbes$country=="Austria")|(forbes$country=="Belgium")|(forbes$country=="Czech Republic")|(forbes$country=="Denmark")|(forbes$country=="Finland")|(forbes$country=="France")|(forbes$country=="Germany")|(forbes$country=="Greece")|(forbes$country=="Hungary")|(forbes$country=="Ireland")|(forbes$country=="Italy")|(forbes$country=="Luxembourg")|(forbes$country=="Netherlands")|(forbes$country=="Norway")|(forbes$country=="Poland")|(forbes$country=="Portugal")|(forbes$country=="Russia")|(forbes$country=="Spain")|(forbes$country=="Sweden")|(forbes$country=="Switzerland")|(forbes$country=="Turkey")|(forbes$country=="France/ United Kingdom")|(forbes$country=="United Kingdom/ Netherlands")|(forbes$country=="Netherlands/ United Kingdom")]<-"United Kingdom"
forbes$country[(forbes$country=="China")|(forbes$country=="Hong Kong/China")|(forbes$country=="Indonesia")|(forbes$country=="Japan")|(forbes$country=="Kong/China")|(forbes$country=="Korea")|(forbes$country=="Malaysia")|(forbes$country=="Philippines")|(forbes$country=="Singapore")|(forbes$country=="South Korea")|(forbes$country=="Taiwan")]<-"Thailand"
forbes$country[(forbes$country=="Australia")|(forbes$country=="India")|(forbes$country=="Islands")|(forbes$country=="Israel")|(forbes$country=="Jordan")|(forbes$country=="Liberia")|(forbes$country=="Mexico")|(forbes$country=="New Zealand")|(forbes$country=="Pakistan")|(forbes$country=="South Africa")|(forbes$country=="United Kingdom/ Australia")]<-"United Kingdom/ South Africa"

* Drop those levels with zero counts

Use `droplevels()` function:

In [ ]:
forbes$country<-droplevels(forbes$country)

Now we can check the new frequency tables:

In [ ]:
table(forbes$country)

                   Argentina                      Bahrain
                           2                            1
                      Canada                     Colombia
                          56                            6
                       Egypt                    Hong Kong
                           1                           58
                  Kazakhstan                        Kenya
                           1                            1
                      Kuwait                      Lebanon
                           4                            2
                      Monaco                      Morocco
                           1                            3
                     Nigeria                         Oman
                           2                            1
                       Qatar                 Saudi Arabia
                           6                           15
                    Thailand         United Arab Emirates
                         632                            9
              United Kingdom United Kingdom/ South Africa
                         456                          129
               United States                    Venezuela
                         576                           34
                     Vietnam
                           4

* Rename each class

In [ ]:
levels(forbes$country)<-c("Canada","East/Southeast Asia","Europe","Other","United States","Latin America")
levels(forbes$country)

###4.4 Export the cleaned dataset (Important!)
* Save forbes to Forbes2000_clean.csv

In [ ]:
write.csv(forbes,"Forbes2000_2019_clean.csv",row.names=FALSE)
list.files()
dim(forbes)
which(is.na(forbes))

[1] "Forbes2000_2019_clean.csv" "Forbes2000_2019.csv"
[3] "Forbes2000_2019.csv.zip"

[1] 2000    7

integer(0)

## 5. Data analysis

###5.2 Import the cleaned dataset (Optional)
* Subsetting by column
Create a dataframe with the clean data

In [ ]:
forbes_clean <- read.csv("Forbes2000_2019_clean.csv",header=T,stringsAsFactors = T,na.strings ="?",sep=",")
str(forbes_clean)

'data.frame':	2000 obs. of  7 variables:
 $ rank       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name       : Factor w/ 2000 levels "360 Security Technology",..: 914 1014 388 41 206 123 1410 211 1512 1918 ...
 $ country    : Factor w/ 60 levels "Argentina","Australia",..: 10 59 10 10 59 59 10 10 37 59 ...
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

###5.3 Extract Variables 
* Create another data frame with only numeric variables + country

Hint: Refer to 4.2.3 Subsetting by column

In [ ]:
# Fill the blank below:
 forbes_clean <- forbes_clean[,c(3:7)]
str(forbes_clean)

'data.frame':	2000 obs. of  5 variables:
 $ country    : Factor w/ 60 levels "Argentina","Australia",..: 10 59 10 10 59 59 10 10 37 59 ...
 $ sales      : num  176 133 150 138 112 ...
 $ profits    : num  45.2 32.7 38.8 30.9 28.5 59.4 16.3 27.5 23.3 23.1 ...
 $ assets     : num  4034 2737 3382 3293 2377 ...
 $ marketvalue: num  305 368 225 197 287 ...

###5.4 Training Set and Test Set
* Dataset could be randomly split into two parts: training set and test set.

In [ ]:
set.seed(1) #set random seed reproducible
indx <- sample(1:2000,size=2000,replace=F)
forbes.train <- forbes_clean[indx[1:1600],]
forbes.test <- forbes_clean[indx[1601:2000],]

##Exercise 
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [ ]:
forbes_clean2 <- forbes_clean[,c(2:5)]  # create a new dataframe with only numeric variables included
set.seed(3) 
indx <- sample(1:2000,size=2000,replace=F)
forbes.train <- forbes_clean2[indx[1:1600],]
forbes.test <- forbes_clean2[indx[1601:2000],]
str(forbes.train)

'data.frame':	1600 obs. of  4 variables:
 $ sales      : num  13.3 3.1 13.5 7.7 26.3 1.3 8.2 8.5 19.7 7 ...
 $ profits    : num  0.811 0.576 1.3 0.641 -10.2 5.7 1 1.1 1.1 1.7 ...
 $ assets     : num  21.9 6.6 17.8 24.4 103.6 ...
 $ marketvalue: num  12.6 10.5 20.1 10.7 40.2 24.5 7.2 6.2 15.9 71.5 ...

In [ ]:
lm <- lm(   profits ~ . , data=forbes.train     )
summary(lm)

Call:
lm(formula = profits ~ ., data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-28.7050  -0.2945   0.0270   0.3843  24.6195

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.115184   0.058980  -1.953    0.051 .
sales        0.012875   0.001757   7.328  3.7e-13 ***
assets       0.004877   0.000189  25.810  < 2e-16 ***
marketvalue  0.040605   0.001023  39.697  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.012 on 1596 degrees of freedom
Multiple R-squared:  0.7452,	Adjusted R-squared:  0.7447
F-statistic:  1556 on 3 and 1596 DF,  p-value: < 2.2e-16

2. Comment on the output. For instance:  Is there a relationship between the predictors and the response?

3. Which predictors appear to have a statistically significant relationship to the response?

4. What does the coefficient for the sales variable suggest?

### Bonus questions:

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [ ]:
lm2 <- lm(  profits ~     , data = forbes.train)
summary(lm2)

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [ ]:
# MLR model without interactions 
lm.yhat <-  
lm.y <-  
lm.rmse <- 
lm.rmse
lm.abs = abs(    )
lm.mad = (sum( ))/395 
lm.mad

# MLR model with all interactions
lm2.yhat <-  
lm2.y <-  
lm2.rmse <- 
lm2.rmse
lm2.abs = abs(   ) 
lm2.mad = (sum(   ))/395 
lm2.mad

##Solution 
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [ ]:
lm <- lm(profits ~ ., data = forbes.train)
summary(lm)

Call:
lm(formula = profits ~ ., data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-28.7050  -0.2945   0.0270   0.3843  24.6195

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.115184   0.058980  -1.953    0.051 .
sales        0.012875   0.001757   7.328  3.7e-13 ***
assets       0.004877   0.000189  25.810  < 2e-16 ***
marketvalue  0.040605   0.001023  39.697  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.012 on 1596 degrees of freedom
Multiple R-squared:  0.7452,	Adjusted R-squared:  0.7447
F-statistic:  1556 on 3 and 1596 DF,  p-value: < 2.2e-16

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [ ]:
lm2 <- lm(profits ~ (sales + assets + marketvalue)^3, data = forbes.train)
summary(lm2)

Call:
lm(formula = profits ~ (sales + assets + marketvalue)^3, data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-28.4783  -0.3481  -0.0690   0.3692  24.5298

Coefficients:
                           Estimate Std. Error t value Pr(>|t|)
(Intercept)               2.063e-01  7.370e-02   2.798 0.005197 **
sales                     8.042e-03  2.280e-03   3.528 0.000431 ***
assets                    5.661e-04  5.228e-04   1.083 0.279052
marketvalue               3.689e-02  1.731e-03  21.311  < 2e-16 ***
sales:assets              3.560e-05  6.115e-06   5.821 7.06e-09 ***
sales:marketvalue         1.671e-05  1.329e-05   1.257 0.208799
assets:marketvalue        1.824e-05  5.014e-06   3.638 0.000284 ***
sales:assets:marketvalue -9.563e-08  3.672e-08  -2.604 0.009287 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.938 on 1592 degrees of freedom
Multiple R-squared:  0.7643,	Adjusted R-squared:  0.7632
F-statistic: 737.3 on 7 and 1592 DF,  p-value: < 2.2e-16

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [ ]:
# MLR model without interactions 
lm.yhat <- predict(lm, newdata = forbes.test) 
lm.y <- forbes.test["profits"] 
lm.rmse <- sqrt(mean(data.matrix((lm.y - lm.yhat)^2)))
lm.rmse
lm.abs = abs(lm.y - lm.yhat) 
lm.mad = (sum(lm.abs))/400 
lm.mad

# MLR model with all interactions
lm2.yhat <- predict(lm2, newdata = forbes.test) 
lm2.y <- forbes.test["profits"] 
lm2.rmse <- sqrt(mean(data.matrix((lm2.y - lm2.yhat)^2)))
lm2.rmse
lm2.abs = abs(lm2.y - lm2.yhat) 
lm2.mad = (sum(lm2.abs))/400 
lm2.mad

[1] 2.187403

[1] 0.8436742

[1] 2.119336

[1] 0.843309